<!DOCTYPE html>
<!--[if IE 8 ]> <html class="ie ie8" > <![endif]-->
<!--[if IE 9 ]> <html class="ie ie9" > <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html><!--<![endif]-->
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
  <title>{% block title %}Welcome to Clay{% endblock %}</title>
  <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">

  {% block head %}{% endblock %}
</head>
<body>
  {% block content %}{% endblock %}

</body>
</html>